In [31]:
import pandas as pd

df = pd.read_csv('Sample.csv')
# Add a new row at index position 0 with values provided in list
#df.rename(columns={"0": "a", "0.1": "c", "0.2":"d", "1":"f", "0.3":"g", "0.4":"j", "370":"l", "0.5":"n", "-370":"b"})
#print (df.columns)

In [32]:
df.columns = ["a","b","c","d","e","f","g","h","i"]

In [33]:
df.head()

          a        b  c  d  e    f      g  h           i
0  0.020005  0.00003  0  1  0  0.0  370.0  0 -369.999999
1  0.040010  0.12006  0  1  0  0.0  370.0  0 -369.997598
2  0.060015  0.24009  0  1  0  0.0  370.0  0 -369.992795
3  0.080020  0.36012  0  1  0  0.0  370.0  0 -369.985590
4  0.100025  0.48015  0  1  0  0.0  370.0  0 -369.975985

In [34]:
df=df.drop(["c","d","e","h"],axis=1)

In [35]:
df.head()

          a        b    f      g           i
0  0.020005  0.00003  0.0  370.0 -369.999999
1  0.040010  0.12006  0.0  370.0 -369.997598
2  0.060015  0.24009  0.0  370.0 -369.992795
3  0.080020  0.36012  0.0  370.0 -369.985590
4  0.100025  0.48015  0.0  370.0 -369.975985

In [37]:
df.to_csv("Sample.csv")
df.head()

          a        b    f      g           i
0  0.020005  0.00003  0.0  370.0 -369.999999
1  0.040010  0.12006  0.0  370.0 -369.997598
2  0.060015  0.24009  0.0  370.0 -369.992795
3  0.080020  0.36012  0.0  370.0 -369.985590
4  0.100025  0.48015  0.0  370.0 -369.975985

In [12]:
with open('sample.csv') as fin, open('sample.csv', 'w') as fout:
    for line in fin:
        fout.write(line.replace(',', '\t'))

In [23]:
df = pd.read_csv('arr.txt')
df = df.drop(df.columns[[0, 1, 3]], axis=1)

In [14]:
Cov = pd.read_csv("sample.csv", sep='\t')
Frame=pd.DataFrame(Cov.values, columns = ["Time", "Start", "End", "Coverage","speed","Rotation","six","seven","eight"])
Frame.to_csv("sample.csv", sep='\t')

EmptyDataError: No columns to parse from file

In [16]:
import csv

reader = csv.reader(open("Sample.csv", "r"), delimiter=',')
writer = csv.writer(open("output.csv", 'w'), delimiter='\t')
writer.writerows(reader)

In [17]:
Cov = pd.read_csv("output.csv", sep='\t')
Frame=pd.DataFrame(Cov.values, columns = ["Time", "Start", "End", "Coverage","speed","Rotation","six","seven","eight"])
Frame.to_csv("output.csv", sep='\t')

In [20]:
import csv
  
# open input CSV file as source
# open output CSV file as result
with open("output.csv", "r") as source:
    reader = csv.reader(source)
      
    with open("output.csv", "w") as result:
        writer = csv.writer(result)
        for r in reader:
            
            # Use CSV Index to remove a column from CSV
            #r[3] = r['year']
            writer.writerow((r[0], r[1], r[2], r[4], r[5]))

In [ ]:
import ast
import csv
import os
import sys
from pickle import dump

import numpy as np
from tfsnippet.utils import makedirs

output_folder = 'processed'
makedirs(output_folder, exist_ok=True)


def load_and_save(category, filename, dataset, dataset_folder):
    temp = np.genfromtxt(os.path.join(dataset_folder, category, filename),
                         dtype=np.float32,
                         delimiter=',')
    print(dataset, category, filename, temp.shape)
    with open(os.path.join(output_folder, dataset + "_" + category + ".pkl"), "wb") as file:
        dump(temp, file)


def load_data(dataset):
    if dataset == 'SMD':
        dataset_folder = 'ServerMachineDataset'
        file_list = os.listdir(os.path.join(dataset_folder, "train"))
        for filename in file_list:
            if filename.endswith('.txt'):
                load_and_save('train', filename, filename.strip('.txt'), dataset_folder)
                load_and_save('test', filename, filename.strip('.txt'), dataset_folder)
                load_and_save('test_label', filename, filename.strip('.txt'), dataset_folder)
    elif dataset == 'SMAP' or dataset == 'MSL':
        dataset_folder = 'data'
        with open(os.path.join(dataset_folder, 'labeled_anomalies.csv'), 'r') as file:
            csv_reader = csv.reader(file, delimiter=',')
            res = [row for row in csv_reader][1:]
        res = sorted(res, key=lambda k: k[0])
        label_folder = os.path.join(dataset_folder, 'test_label')
        makedirs(label_folder, exist_ok=True)
        data_info = [row for row in res if row[1] == dataset and row[0] != 'P-2']
        labels = []
        for row in data_info:
            anomalies = ast.literal_eval(row[2])
            length = int(row[-1])
            label = np.zeros([length], dtype=np.bool)
            for anomaly in anomalies:
                label[anomaly[0]:anomaly[1] + 1] = True
            labels.extend(label)
        labels = np.asarray(labels)
        print(dataset, 'test_label', labels.shape)
        with open(os.path.join(output_folder, dataset + "_" + 'test_label' + ".pkl"), "wb") as file:
            dump(labels, file)

        def concatenate_and_save(category):
            data = []
            for row in data_info:
                filename = row[0]
                temp = np.load(os.path.join(dataset_folder, category, filename + '.npy'))
                data.extend(temp)
            data = np.asarray(data)
            print(dataset, category, data.shape)
            with open(os.path.join(output_folder, dataset + "_" + category + ".pkl"), "wb") as file:
                dump(data, file)

        for c in ['train', 'test']:
            concatenate_and_save(c)


if __name__ == '__main__':
    datasets = ['SMD', 'SMAP', 'MSL']
    commands = sys.argv[1:]
    load = []
    if len(commands) > 0:
        for d in commands:
            if d in datasets:
                load_data(d)
    else:
        print("""
        Usage: python data_preprocess.py <datasets>
        where <datasets> should be one of ['SMD', 'SMAP', 'MSL']
        """)

In [27]:
df = fileopen('arr.txt','w',sep=',')
df = df.drop(df.columns[3], axis=1, inplace=True)

NameError: name 'fileopen' is not defined

In [30]:
Cov = pd.read_csv("Sample.csv", sep=',')
Frame=pd.DataFrame(Cov.values, columns = ["Time", "Speed", "Rotation", "Rotation","Rotation","Rotation","Translation","Translation","Translation"])
Frame.to_csv("output.csv", sep=',')

In [49]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    df.columns = ["a","b","c","d","e","f","g","h","i"]
    df=df.drop(["c","d","e","h"],axis=1)
    df = df.rename(columns={"a": "Time", "b": "Speed", "f":"Rotation", "g":"Position", "i":"Translation"})
    df.to_csv(f,index=False)
    display(df)
    print(f)
      
#     # print the location and filename
#     print('Location:', f)
#     print('File Name:', f.split("\\")[-1])
      
#     # print the content
#     print('Content:')

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  0.000000  370.000000  -369.999999
1      0.040010   0.12006  0.000000  370.000000  -369.997598
2      0.060015   0.24009  0.000000  370.000000  -369.992795
3      0.080020   0.36012  0.000000  370.000000  -369.985590
4      0.100025   0.48015  0.000000  370.000000  -369.975985
...         ...       ...       ...         ...          ...
3994  79.919980  13.00000 -1.570796   27.278108   140.000000
3995  79.939985  13.00000 -1.570796   27.018043   140.000000
3996  79.959990  13.00000 -1.570796   26.757978   140.000000
3997  79.979995  13.00000 -1.570796   26.497913   140.000000
3998  80.000000  13.00000 -1.570796   26.237848   140.000000

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Platoon Control_Noise_faultduration_0_6_V1.csv

           Time      Speed      Rotation    Position  Translation
0      0.020005   0.000030  1.570796e+00 -199.999999  -300.000000
1      0.040010   0.120060  1.570796e+00 -199.997598  -300.000000
2      0.060015   0.240090  1.570796e+00 -199.992795  -300.000000
3      0.080020   0.360120  1.570796e+00 -199.985590  -300.000000
4      0.100025   0.480150  1.570796e+00 -199.975985  -300.000000
...         ...        ...           ...         ...          ...
3994  79.919980  12.999978 -5.373864e-08  369.999999   164.596067
3995  79.939985  12.999979 -4.962955e-08  369.999999   164.856132
3996  79.959990  12.999979 -4.553776e-08  369.999999   165.116197
3997  79.979995  12.999980 -4.147996e-08  369.999999   165.376261
3998  80.000000  12.999980 -3.747099e-08  369.999999   165.636326

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Platoon Control_Noise_faultduration_0_6_V2.csv

           Time     Speed  Rotation    Position  Translation
0      0.020005   0.00003  3.141593 -280.000000  -220.000001
1      0.040010   0.12006  3.141449 -280.000000  -220.002402
2      0.060015   0.24009  3.141189 -279.999999  -220.007205
3      0.080020   0.36012  3.140830 -279.999994  -220.014410
4      0.100025   0.48015  3.140390 -279.999985  -220.024015
...         ...       ...       ...         ...          ...
3994  79.919980  11.00000  0.000467  369.997665   -30.881427
3995  79.939985  11.00000  0.000447  369.997765   -30.661372
3996  79.959990  11.00000  0.000428  369.997861   -30.441317
3997  79.979995  11.00000  0.000410  369.997954   -30.221262
3998  80.000000  11.00000  0.000392  369.998042   -30.001207

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Platoon Control_Noise_faultduration_0_6_V3.csv

           Time    Speed  Rotation    Position  Translation
0      0.020005  0.00003  1.570796  -39.999999           90
1      0.040010  0.12006  1.570796  -39.997598           90
2      0.060015  0.24009  1.570796  -39.992795           90
3      0.080020  0.36012  1.570796  -39.985590           90
4      0.100025  0.48015  1.570796  -39.975985           90
...         ...      ...       ...         ...          ...
3994  79.919980  0.00000  1.570796  169.136800           90
3995  79.939985  0.00000  1.570796  169.136800           90
3996  79.959990  0.00000  1.570796  169.136800           90
3997  79.979995  0.00000  1.570796  169.136800           90
3998  80.000000  0.00000  1.570796  169.136800           90

[3999 rows x 5 columns]

C:\Users\INT004435\OneDrive - TeamViewer\Documents\GitHub\MOBATSim\Platoon Control_Noise_faultduration_0_6_V4.csv